= form_tag email_path, :method => 'post' do
  %section.background-gray
    .container
      .row
        .col-sm-12.col-md-10.col-md-offset-1.contact_inputs
          = form_tag properties_path, :method => 'get' do
            .row
              .col-md-6.contact_input
                = email_field_tag 'email[email]', nil, placeholder: 'Email', class: 'form-control'
              .col-md-6.contact_input
                = text_field_tag 'email[subject]', nil, placeholder: 'Asunto', class: 'form-control'
            .row
              .col-md-6.contact_input
                = text_field_tag 'email[name]', nil, placeholder: 'Nombre', class: 'form-control'
              .col-md-6.contact_input
                = text_field_tag 'email[phone]', nil, placeholder: 'Numero', class: 'form-control'
            .row
              .col-md-12.contact_input
                = text_area_tag 'email[boady]', nil, class: 'form-control', :placeholder => 'Texto', rows: 5
            .row
              .col-md-3
                = submit_tag 'Enviar', name: nil, class: 'btn btn-primary contact_button'
