<% content_for :header do %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= stylesheet_link_tag    "theme" %>
  <%= stylesheet_link_tag    "font-awesome.min" %>
  <%= stylesheet_link_tag    "bootstrap-select.min" %>
  <%= favicon_link_tag 'favicon.png', rel: "ishortcut icon" %>
<% end %>



<h1>StaticPages#landing</h1>
<p>Find me in app/views/static_pages/landing.html.erb</p>
