.row
  .col-sm-12.col-md-10
    %article.post
      .row
        .col-sm-12.col-md-5
          = link_to property do
            %img.img-responsive.img-thumbnail{ src: property.photo_url, :height => '200' }
        .col-sm-12.col-md-7
          .row
            .col-md-12
              %h3
                %a{:href => "#link"}
                  #{property.property_type.name},
                  %span.text-muted #{ property.neighborhood.name }
              %p This home offers a great floor plan with kitchen open to a spacious living room and dining area.
          .row
            .col-md-12
              %ul.list-unstyled
                %li
                  %i.fa.fa-fw.fa-pencil
                  #{ property.transaction_types }
                %li
                  %i.fa.fa-fw.fa-usd
                  #{ number_with_delimiter(property.price.to_i, delimiter: '.') }
                %li
                  %i.fa.fa-fw.fa-th
                  #{ property.built_up.to_i } m<sup>2</sup>
                %li
                  %i.fa.fa-fw.fa-columns
                  #{ property.bedrooms } Cuartos
                %li
                  %i.fa.fa-fw.fa-female
                  #{ property.bathrooms } Baños
          .row.view-datails-button-row
            .col-md-12
              = link_to 'Detalles', property, class: 'btn btn-primary view-datails-button'

